<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <sort>
        <name>asc</name>
        <price>desc</price>
        <rate>desc</rate>
    </sort>
    <parameters>
        <datasource>reflection</datasource>
        <productcount>5</productcount>>
        <threadcount>5</threadcount>>
    </parameters>
</settings>
